/**
 * Styling for loginsearch results.
 */

.loginsearch-expired, .not-found {
  color: red;
  font-weight: bold;
}

.loginsearch-expired a:link,
.loginsearch-expired a:visited {
  color: red;
  border-bottom: 1px solid red;
}

.loginsearch-not-expired {
  color: green;
  font-weight: bold;
}
